.preview-container {
  width: 100%;
}
.preview {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.player {
  width: 25%;
}
.cover-img-container {
  max-height: 64px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.cover-img {
  display: block;
  width: 60%;
  max-width: 100%;
  max-height: 64px;
  object-fit: contain;
}
.cover-title {
  width: 49%;
}
