.results-list-container {
  width: 100%;
  max-height: 44em;
  margin-top: 2.5%;
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.result-card {
  width: 26%;
  box-sizing: border-box;
  padding: 1.7% 1% 1.3% 1%;
  margin-bottom: 1%;
  box-shadow: 7px 7px 3px;
  background-color: #0061ff;
  background-image: linear-gradient(160deg, #97bbfe 0%, #546ccf 105%);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid white;
  border-radius: 1.5vh;
}
.result-card:hover {
  cursor: pointer;
}
