.banner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.title-container {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.title {
  margin-top: 0;
  font-family: "Judson", serif;
  color: white;
  font-size: 230%;
}
.search-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.search-form .search-input:focus {
  outline: none;
}
